<div class="books">
  
  <div class="success-message">
    <%= flash[:notice]  %>
  </div>
  
  <h1>Books</h1>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
      <% @books.each do |book| %>
      <tr>
       <td class="books" ><%= book.title %></td>
       <td class="books"><%= book.body %></td>
       <td class="index-btn">
         <%= link_to "Show",book_path(book),class:"btn btn-info" %>
       </td>
       <td class="index-btn">
         <%= link_to "Edit",edit_book_path(book.id),class:"btn btn-info"%>
       </td>
       <td class="index-btn">
         <%= link_to "Destroy",book_path(book.id),class:"btn btn-info",method: :delete,"data-confirm" => "本当に削除しますか？"%>
       </td>
      </tr>
      <% end %>
    </tbody>
    
  </table>
  
  <div class="new-create">
    <div class="new-title">
     <h2>New book</h2>
    </div>
    <div class="error-message">
    <% if @book.errors.any? %>
      <%= @book.errors.count %> error has occurred
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    </div>
    
    <%= form_with model: @book,url: "/books", method: :post do |f| %>
    <div class="books-text">
      <div class="title-box">
        <p>Title</p>
        <p>
          <%= f.text_field:title %>
        </p>
      </div>
      <div class="body-box">
        <p>Body</p>
        <p>
          <%= f.text_area:body %>
        </p>
      </div>
      <div class="btn-box">
        <%= f.submit "Create Book" ,class:"btn btn-info" %>
      </div>
    </div>
    <% end %>
    
  </div>
</div>